<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cadastro</title>
</head>
<body>
        <div class="tudo">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
           <div class="informacoes">
                <form  class="inp" action="/cadastro" method="POST">
                <input class="inputt" type="text" name="cpf" placeholder="Informe seu CPF">
                <input class="inputt" type="text" name="name" placeholder="Informe seu nome">
                <input class="inputt" type="text" name="name" placeholder="Informe seu e-mail">
                <input class="inputt" type="password" name="senha" placeholder="Informe sua senha">
            </form>
                 <div class="btt">

                    <a href="http://127.0.0.1:8080/entrar">
                        <button>Cadastrar</button>
                    </a>
                </div>
           </div>

        </div>

</body>
</html>