<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Inicio</title>
</head>
<body>
        <div class="tudo">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <div class="apresentacao">
                <div class="textoap">
                      <h2>Descubra uma nova maneira de gerenciar suas  finanças com a AFE-ADMINISTRAÇÃO FINANCEIRA EFICIENTE.
                         De despesas diárias a receitas mensais, oferecemos uma visão abrangente de suas finanças, proporcionando
                         controle e tranquilidade. Simplifique sua vida financeira conosco.</h2>
                </div>
                <div class="butt">
                    <a href="http://127.0.0.1:8080/entrar">
                        <button>Entrar</button>
                    </a>
                    <a href="http://127.0.0.1:8080/cadastro">
                        <button>Cadastrar</button>
                    </a>
                </div>
            </div>
        </div>
</body>
</html>
